---
---

@import "{{ site.theme }}";

body {
  background: $body-background; /* same as background color */

  background-image: url("/assets/images/background/close-up-of-green-leaves-on-blurred-leaf-background-free-photo.jpeg");

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  /* background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit; */
  /* https://www.w3schools.com/cssref/css3_pr_background.asp */
  
}

.timer {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    /* margin-top: 10px; */
    color: yellow;
    background-color: rgba(1, 12, 20, 0.6);
}

.timer-small {
    font-size: 26px;
}
